aws_region           = "us-east-1"
environment          = "dev"
app_instance_type    = "t3.micro"
asg_min_size         = 1
asg_max_size         = 3
asg_desired_capacity = 2
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
db_name              = "devdb"
db_username          = "devadmin"
# Pass db_password via environment variable (TF_VAR_db_password) or local unversioned terraform.tfvars
# db_password        = "YOUR_SECURE_PASSWORD"
db_multi_az          = false
